.header {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px;
}

.links {
  margin: 15px;
}

.intro {
  margin: 15px;
}

.button-mt {
  margin-top: 10px;
}

.button-mr {
  margin-right: 10px;
}

.btn-align {
  text-align: left;
}

.link-header {
  margin-bottom: 0px;
}

.section-container {
  margin: 15px;
}

.type-m {
  margin: 50px 15px;
}

.type-heading {
  font-style: italic;
}

.m-t-b-lg {
  margin: 35px 0;
  border-bottom: 1px dashed #e4e4e4;
}

.content-date {
  font-weight: bold;
}

.content-url {
  font-style: italic;
}

.content-subTitle {
  margin-left: 15px;
}

.type-intro {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
  margin-bottom: -15px;
}
